---
import MainLayout from '../layouts/main-layout.astro';

const pageTitle = 'Pokemon List';

const styles = {
	heading: 'text-5xl text-purple-500/80 font-bold text-center mt-8',
	divider: 'border-b border-slate-800 w-[90%] mx-auto mt-4',
};
---

<MainLayout
	pageTitle={pageTitle}
	metaDescription="A list of the most popular pokemon characters"
	metaRobots="index, follow"
>
	<h1 class={styles.heading}>{pageTitle}</h1>
	<div class={styles.divider} />
</MainLayout>
