---
import MainLayout from "@layouts/main-layout.astro";
import Heading from "@components/shared/heading.astro";
import { Divider, FavoritePokemons } from "@components/index";
---

<MainLayout
  pageTitle="Favorite Pokemons"
  metaDescription="List of your favorite pokemons"
  metaRobots="noindex, nofollow"
>
  <section id="content">
    <Heading>Favorite Pokemons</Heading>

    <Divider />
    <FavoritePokemons client:only="solid-js" />
  </section>
</MainLayout>

<style>
  #content {
    @apply container px-5 mx-auto md:px-0;
    & h2 {
      @apply text-2xl font-bold text-center;
    }
  }
</style>