---
import MainLayout from "@layouts/main-layout.astro"
---

<MainLayout
  pageTitle="Favorite Pokemons"
  metaDescription="List of your favorite pokemons"
  metaRobots="index, follow"
>

  <h1>Pokemon Favorites</h1>
</MainLayout>

<style>
  h1 {
    @apply text-5xl text-purple-500/80 font-bold text-center mt-8;
  }
</style>