---
import { ViewTransitions } from 'astro:transitions';
import type { MetaRobots } from '../types';

type Props = {
	pageTitle: string;
	metaDescription: string;
	metaRobots: MetaRobots;
};

const { pageTitle, metaDescription, metaRobots } = Astro.props;
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
		<meta name="generator" content={Astro.generator} />
		<title>{pageTitle} - Pokedex</title>
		<meta name="description" content={metaDescription} />
		<meta name="robots" content={metaRobots} />
		<ViewTransitions />
	</head>
	<body class="bg-slate-900 text-slate-100">
		<main>
			<slot />
		</main>
	</body>
</html>